<script src="course.component.ts"></script>
<div class="container">
  <table class="table table-dark">
  <tr>
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Content</th>
    <th>Description</th>
    <th>Grade</th>
  </tr>
  <tr *ngFor="let course of courses">

    <td>
      {{course.courseCode}}
    </td>
    <td>
      {{course.name}}
    </td>
    <td>
      {{course.content}}
    </td>
    <td>
      {{course.description}}
    </td>
    <td>
      {{course.grade}}
    </td>
  </tr>
</table>
</div>
