<div class="container">
  <h1>Courses - {{courses.length}}</h1>
  <button (click)="createCourse()" class="btn btn-success" id="create_btn">Create a new Course</button>
  <div class="alert alert-success" *ngIf="message" >{{message}}</div>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Content</th>
      <th>Description</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.courseCode}}</td>
      <td>{{course.name}}</td>
      <td>{{course.grade}}</td>
      <td>{{course.content}}</td>
      <td>{{course.description}}</td>
      <td><button (click)="updateCourse(course.id)" class="btn btn-success">Update</button> </td>
      <td><button (click)="deleteCourse(course.id)" class="btn btn-danger">Delete</button> </td>
    </tr>
    </tbody>
  </table>
</div>
