<h1>Courses</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="courseForm.dirty && courseForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="courseForm.dirty && codetxt.invalid">Enter a valid value for course code</div>
  <div class="alert alert-warning" *ngIf="courseForm.dirty && nametxt.invalid">Enter a valid value for course name</div>
  <div class="alert alert-warning" *ngIf="courseForm.dirty && contentTxt.invalid">Enter a valid content text</div>
  <div class="alert alert-warning" *ngIf="courseForm.dirty && descriptionTxt.invalid">Enter a valid description</div>

  <form (ngSubmit)="!courseForm.invalid && saveCourse()" #courseForm="ngForm">
    <fieldset class="form-group">
      <label>Course Code</label>
      <input type="text" #codetxt="ngModel" [(ngModel)]="course.courseCode" class="form-control" name="courseCode" required="required" minlength="2">
    </fieldset>
    <fieldset class="form-group">
      <label>Course Name</label>
      <input type="text" #nametxt="ngModel" [(ngModel)]="course.name" class="form-control" name="name" required="required" minlength="2">
    </fieldset>
    <fieldset class="form-group">
      <label>Grade</label>
      <select class="form-control" [(ngModel)]="course.grade" name="courseGrade" >
        <option *ngFor="let gradeIndex of grades" [value]="gradeIndex.id">{{gradeIndex.name}}</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label>Content</label>
      <input type="text" #contentTxt="ngModel" [(ngModel)]="course.content" class="form-control" name="content" required="required" minlength="6">
    </fieldset>
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" #descriptionTxt="ngModel" [(ngModel)]="course.description" class="form-control" name="description" required="required" minlength="6">
    </fieldset>
    <!--<fieldset class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="appointments">
        <label class="form-check-label" for="appointments">
          Appointments
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
        <label class="form-check-label" for="defaultCheck2">
          Disabled checkbox
        </label>
      </div>
        <label><h4>Assign Appointments To this Course</h4></label>
        <div class="container" *ngFor="let appointment of appointments">
          <label>
            <input type="checkbox"
                   name="appointments"
                   value="{{appointment.id}}"
                   [(ngModel)]="appointments" />
            From {{appointment.startDate| date: 'h:mm a EEE'}} To {{appointment.endDate| date: 'h:mm a EEE'}} In {{appointment.roomNumber}}
          </label>
        </div>

    </fieldset>-->
    <button type="submit" class="btn btn-success" >Save</button>
  </form>
</div>
