<div class="container">
  <h1>Courses - {{courses.length}}</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Grade</th>
      <th [colSpan]="2">Description</th>
      <!--<th>Actions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.courseCode}}</td>
      <td>{{course.name}}</td>
      <td>{{course.grade}}</td>
      <td>{{course.description}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="uploadContent(course.id)">Upload Content</a>
            <a class="dropdown-item" (click)="evaluateStudents(course.id)">Evaluate Students</a>

          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
