<h1>Parents</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="parentForm.dirty && parentForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="parentForm.dirty && firstNametxt.invalid">Enter a valid value for first name</div>
  <div class="alert alert-warning" *ngIf="parentForm.dirty && lastNametxt.invalid">Enter a valid value for last name</div>
  <div class="alert alert-warning" *ngIf="parentForm.dirty && emailtxt.invalid">Enter a valid email address</div>
  <div class="alert alert-warning" *ngIf="parentForm.dirty && passwordtxt.invalid">Enter a valid password</div>

  <form (ngSubmit)="!parentForm.invalid && saveParent()" #parentForm="ngForm">
    <fieldset class="form-group">
      <label>First Name</label>
      <input type="text" #firstNametxt="ngModel" [(ngModel)]="parent.firstName" class="form-control" name="firstName" required="required" minlength="2">
    </fieldset>
    <fieldset class="form-group">
      <label>Last Name</label>
      <input type="text" #lastNametxt="ngModel" [(ngModel)]="parent.lastName" class="form-control" name="lastName" required="required" minlength="2">
    </fieldset>
    <fieldset class="form-group">
      <label>E-Mail</label>
      <input [email]="true" type="email" #emailtxt="ngModel" [(ngModel)]="parent.email" class="form-control" name="email" required="required">
    </fieldset>
    <fieldset class="form-group">
      <label>Password</label>
      <input type="text" #passwordtxt="ngModel" [(ngModel)]="parent.password" class="form-control" name="password" required="required" minlength="6">
    </fieldset>
    <fieldset class="form-group">
      <label>Parent type</label>
      <select class="form-control" [(ngModel)]="parent.type" name="parentType" >
        <option value="0"  [ngValue]="selectedType">{{selectedType}}</option>
        <option value="1"  [ngValue]="notSelectedParentType">{{notSelectedParentType}}</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-success" >Save</button>
  </form>
</div>
