<div class="container">
  <h1>Appointments - {{appointments.length}}
  </h1>

  <table class="table">
    <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Room Number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.startDate | date: 'h:mm a EEE'}}</td>
      <td>{{appointment.endDate | date: 'h:mm a EEE'}}</td>
      <td>{{appointment.roomNumber}}</td>

    </tr>
    </tbody>
  </table>
</div>
