<div class="container">
  <h1>Appointments - {{appointments.length}}
  </h1>
  <button (click)="createAppointment()" class="btn btn-success justify-content-end" id="create_btn">Create a new Appointment</button>
  <div class="alert alert-success" *ngIf="message">{{message}}</div>
  <table class="table">
    <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th >Room Number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.startDate | date: 'h:mm a EEE'}}</td>
      <td>{{appointment.endDate | date: 'h:mm a EEE'}}</td>
      <td>{{appointment.roomNumber}}</td>
      <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"  (click)="updateAppointment(appointment.id)">Update</a>
          <a class="dropdown-item" (click)="deleteAppointment(appointment.id)">Delete</a>
          <a class="dropdown-item" (click)="assignStudents(appointment.id)">Assign Students</a>

        </div>
      </div>
      </td>
      <!--<td><button (click)="updateAppointment(appointment.id)" class="btn btn-success">Update</button> </td>
      <td><button (click)="deleteAppointment(appointment.id)" class="btn btn-danger">Delete</button> </td>-->
    </tr>
    </tbody>
  </table>
</div>
