<h1>Appointments</h1>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Room Number</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.startDate | date: 'medium'}}</td>
      <td>{{appointment.endDate | date: 'medium'}}</td>
      <td>{{appointment.roomNumber}}</td>
      <td><button (click)="deleteAppointment(appointment.id)" class="btn btn-success">Update</button> </td>
      <td><button (click)="deleteAppointment(appointment.id)" class="btn btn-danger">Delete</button> </td>
    </tr>
    </tbody>
  </table>
  <button (click)="createAppointment()" class="btn btn-success">Create a new Appointment</button>
</div>
