<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="" class="navbar-brand">EasyLearn</a>
    </div>
    <ul class="navbar-nav">
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/students"
                                                                                          class="nav-link">Students
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/teachers"
                                                                                          class="nav-link">Teachers
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/parents"
                                                                                          class="nav-link">Parents
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/courses"
                                                                                          class="nav-link">Courses
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/appointments"
                                                                                          class="nav-link">Appointments
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'STUDENT'" (click)="showAppointmentsOfAStudent(tokenStorage.getUser().id)"
          class="nav-link">Show my Appointments
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'STUDENT'"  (click)="showCoursesOfAStudent(tokenStorage.getUser().id)"
          class="nav-link">Show my Courses
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'TEACHER'" (click)="showCoursesOfATeacher(tokenStorage.getUser().id)"
          class="nav-link">Courses that I teach
        </a>
      </li>

      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'TEACHER'" (click)="fillAttendanceList(tokenStorage.getUser().id)"
          class="nav-link">Fill Attendance List
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'PARENT'" routerLink="/appointments"
                                                                                           class="nav-link">Show Courses
          of My Children
        </a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'PARENT'" routerLink="/appointments"
                                                                                           class="nav-link">Show
          Attendance List of My Children
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="!tokenStorage.getToken()" routerLink="/login" class="nav-link">Login</a>
      </li>
      <li>
        <a *ngIf="tokenStorage.getToken()" routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
