@import "~@angular/material/prebuilt-themes/indigo-pink.css";


#no-button {
  margin-right: 10px;
  margin-top: 10px;
}
#yes-button {
  margin-right: 10px;
  margin-top: 10px;
}
#close-button {
  color: white;
}
