<header>
  <!-- new meu nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">EasyLearn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Admin operation -->
        <li class="nav-item active"><a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/students" class="nav-link">Students</a> </li>
        <li class="nav-item"><a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/teachers" class="nav-link">Teachers</a> </li>
        <li class="nav-item"><a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/parents" class="nav-link">Parents</a> </li>
        <li class="nav-item"><a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/courses" class="nav-link">Courses</a> </li>
        <li class="nav-item"><a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'ADMIN'" routerLink="/appointments" class="nav-link">Appointments</a> </li>
        <!-- Student operations-->
        <li class="nav-item active">
          <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'STUDENT'" (click)="showAppointmentsOfAStudent(tokenStorage.getUser().id)"
            class="nav-link">Show my Appointments</a>
        </li>
        <li class="nav-item">
          <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'STUDENT'"  (click)="showCoursesOfAStudent(tokenStorage.getUser().id)"
            class="nav-link">Show my Courses</a>
        </li>
        <!-- Teache operartions-->
        <li class="nav-item active">
          <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'TEACHER'" (click)="showCoursesOfATeacher(tokenStorage.getUser().id)"
            class="nav-link">Courses that I teach
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'TEACHER'" (click)="fillAttendanceList(tokenStorage.getUser().id)"
            class="nav-link">Fill Attendance List
          </a>
        </li>
        <!--Parents operations-->
        <li class="nav-item active">
          <a *ngIf="tokenStorage.getToken() && tokenStorage.getUser().userType === 'PARENT'" (click)="showChilderenOfParent(tokenStorage.getUser().id)"
            class="nav-link">Show my Children
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="!tokenStorage.getToken()" routerLink="/login" class="btn btn-outline-light text-white my-2 my-sm-0">Login</button>
        <button *ngIf="tokenStorage.getToken()" routerLink="/logout" class="btn btn-outline-danger text-danger my-2 my-sm-0">Logout</button>
      </form>
    </div>
  </nav>
</header>
